*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
.main-container{
    width: 100%;
    height: 100vh;
    background-image: url(../public/images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}
.container{
    padding: 15% 0 0 0;
    margin: 0 0 0 7%;
}
.container h1{
    font-size: 5.5rem;
    margin-bottom: .50rem;
}
.container p {
    width: 70%;
    font-size: 1.4rem;   
    margin-bottom: 1rem;
}
.buttons {
    display: flex;
    gap: 1rem;
}
.buttons button{
    border: 0;
    border-radius: 6px;
    padding: .60rem;
    width: 6rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: .3s ease-in-out;
    background-color: rgb(0, 247, 255);
}
.buttons button:hover{
    background-color: rgb(72, 249, 255);
}
.buttons button:nth-child(2){
    background-color: rgba(135, 251, 255, 0.445);
}
.buttons button:nth-child(2):hover{
   background-color: rgb(72, 249, 255);
}